{% extends 'base.html.twig' %}

{% block body %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Passwort ändern
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-md-8">
            {{ form_start(form) }}
            {{ form_widget(form) }}

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-8">
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-check"></i> Speichern
                    </button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}