{% extends 'email/baseMail.html.twig' %}

{% block subject %}
    Benachrichtigung 체ber n채chste Mahnung
{% endblock %}

{% block body %}
    <p>Morgen wird f체r das Projekt <b>{{ bill.project.name }}</b> ein Mahnungsschritt ausgef체hrt.</p>

    <p><a href="{{ url('bill_show', {'id': bill.id }) }}">Rechnung aufrufen</a></p>
{% endblock %}