{% extends 'email/baseMail.html.twig' %}

{% block subject %}
    Ihre Zahlung
{% endblock %}

{% block smallHeadline %}Wir erhielten Ihre Zahlung{% endblock %}

{% block body %}
    <p>Wir haben Ihre Zahlung erhalten. Vielen Dank.</p>
    <p>Auf weitere Maßnahme wird deshalb verzichtet.</p>
{% endblock %}