{% extends 'email/baseMail.html.twig' %}

{% block subject %}
    Ihre Zahlung
{% endblock %}

{% block body %}
    <p>Wir haben Ihre Zahlung erhalten. Ihr System wird nicht mehr heruntergefahren.</p>
{% endblock %}